<nav class="navbar navbar-expand-sm bg-light navbar-light">
	<h1>Dev Incubator</h1>
  <ul class="navbar-nav">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="/form">Info</a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="/about-us">About</a>
    </li>
	</ul>
	<button type="button" class="btn btn-outline-info">LogIn</button>
</nav>


