form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.fa-angrycreative {
	font-size: 4.5rem;
	color: #9e8978;
	align-self: center;
}

.btn-primary {
	background-color: #3da0af;
	border-color: #3da0af;
}

input {
	border-color: #9e8978;
}

label {
	color: #3da0af;
}

input.ng-invalid.ng-touched {
	border-color: red;
}

input.ng-valid.ng-touched {
	border-color: green;
}

.appAuth {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 20px 0;
}

.fa-github {
	font-size: 1.8rem;
}

.fa-facebook-f, .fa-phone {
	font-size: 1.4rem;
	color:#3da0af;
}

.appAuth-btn {
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	margin: 0 30px;
}