.navbar {
	display: flex;
	background-color: #fff;
	justify-content: space-between;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.add-question-hidden {
	display: none;
}

.fa-angrycreative {
	font-size: 4rem;
	color: #9e8978;
	outline: none;
	cursor: pointer;
}

.btn-primary, .show>.btn-primary.dropdown-toggle {
	background-color: #3da0af;
	border-color: #3da0af;
}

.add-question button {
	margin-right: 20px;
}

.dropdown-menu {
	align-self: flex-end;
	left: -37px !important;
}

.user-photo img {
	width: 2.4rem;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

@media(max-width: 414px) {
	.hidden {
		display: none;
	}
}