html, body * { box-sizing: border-box; font-family: 'Open Sans', sans-serif; }

.nav {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  transition: all .5s ease;
}

form {
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: column;
	.appAuth {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: 20px 0;
		.fa-vk {
			font-size: 2rem;
			color: #117a8b;
		}
		
		.fa-facebook-f {
			font-size: 1.4rem;
			color: #117a8b;
		}
		
		.appAuth-btn {
			border: none;
			background-color: transparent;
			cursor: pointer;
		}	
	}
}