<header>
	<app-header></app-header>
</header>
<main>
	<div class="main-wrapper" *ngIf='auth; else login'>
		<router-outlet></router-outlet>
		<app-new-question></app-new-question>
	</div>

	<ng-template #login>
		<div class="wrapper">
			<div class="row" *ngIf="authService.phoneSignIn; else loginOptions">
				<app-phone-signin></app-phone-signin>
			</div>
		</div>
	</ng-template>

	<ng-template #loginOptions>
		<div class="wrapper">
			<div class="form">
				<app-signin-signup></app-signin-signup>
			</div>
		</div>
	</ng-template>
</main>
