<div class="offset-1 col-10" *ngIf="currentQuestion">
	<div class="card card-body">
		<div class="card-wrapper">
			<div class="card-author-date">
					<p class="card-date hidden">{{ currentQuestion.user.displayName }}</p>
					<p class="card-date hidden">{{ currentQuestion.currentDate | date:"dd.MM.yyyy hh:mm" }}</p>
			</div>
			<h5 class="card-title">{{ currentQuestion.title }}</h5>
			<div class="line"></div>
			<p>{{ currentQuestion.text }}</p>
				<div class="card-category-btn">
					<div class="card-category">
						<ul>
              				<li *ngFor="let technology of currentQuestion.categories" class="card-text">{{ technology }}</li>
						</ul>
					</div>
					<div class="card-buttons">
						<button 
							class="btn btn-primary" 
							data-toggle="modal" 
							data-target="#editModal" 
							(click)="editQuestion()"
							*ngIf="author"
						>
							Edit
						</button>
						<button 
							class="btn btn-primary" 
							*ngIf="admin"
						>
							Approve
						</button>
						<button 
							class="btn btn-primary" 
							(click)="deleteQuestion()" 
							*ngIf="admin"
						>
							Delete
						</button>
						<button 
						class="btn btn-primary" 
						(click)="deleteQuestion()" 
						*ngIf="author"
						>
							Delete
						</button>
					</div>
				</div>
		</div>
	</div>
</div>

<app-edit-question *ngIf="openEditModal"></app-edit-question>

<div class="comment offset-1 col-10" *ngIf="currentQuestion && currentQuestion.comments && currentQuestion.comments.length">
	<div class="card" *ngFor="let comment of currentQuestion.comments; let i = index">
    <div class="comment-body">
      <div class="comment-img-name">
        <img class="user-img" [src]="comment.user.avatar || '../assets/img/profile-picture.png'" alt="Card image cap">
        <p class="card-date">{{ comment.user.displayName }}</p>
      </div>
      <div class="comment-date">
        <p>{{ comment.currentDate | date:"dd.MM.yyyy hh:mm" }}</p>
        <p class="check" *ngIf="comment.resolveComment"><i class="fas fa-check"></i></p>
        <div class="checkbox-resolve">
          <input type="checkbox" id="resolve" (change)="resComment($event, i)" [checked]="comment.resolveComment">
          <label for="resolve">resolve</label>
        </div>
      </div>
    </div>
    <p class="comment-text">{{ comment.message }}</p>
	</div>
</div>

<div class="offset-1 col-10" *ngIf="currentQuestion">
	<div class="answer input-area">
		<form (ngSubmit)="onSubmit(newComment.value)" name="messageForm" [formGroup]="newComment">
			<textarea type="text"
                placeholder="Your message"
                name="message" id="message"
                formControlName="message"
                rows="5"
                required>
      </textarea>
			<button type="submit"
              class="btn btn-primary btn-answer"
              [disabled]="!newComment.valid"
      >Post your answer</button>
		</form>
	</div>
</div>
