<div class="card-alone" *ngIf="isLoaded">
	<div class="card-body">
		<h5 class="card-title">{{ currentQuestion.title }}</h5>
		<div class="card-wrapper">
			<div class="line"></div>
			<div class="card-category-date">
				<p class="card-date hidden">{{ currentQuestion.currentDate }}</p>
				<p class="card-text"><strong>Category:</strong></p>
				<p class="card-date visible">{{ currentQuestion.currentDate }}</p>
			</div>
			<div class="card-category">
				<ul>
					<li *ngIf="currentQuestion.java" class="card-text">Java</li>
					<li *ngIf="currentQuestion.salesforce" class="card-text">Salesforce</li>
					<li *ngIf="currentQuestion.frontend" class="card-text">Frontend</li>
				</ul>
			</div>
			<div class="line"></div>
			<div class="card-buttons">
				<a href="#" class="btn btn-primary">Approve</a>
				<a href="#" class="btn btn-primary">Delete</a>
			</div>
		</div>
	</div>
</div>
