<div class="card offset-1 col-10">
	<div class="card-body">
		<div class="card-wrapper" *ngIf="currentQuestion">
			<div class="card-author-date">
					<p class="card-date hidden">{{ currentQuestion.user.displayName }}</p>
					<p class="card-date hidden">{{ currentQuestion.currentDate }}</p>
			</div>
			<h5 class="card-title">{{ currentQuestion.title }}</h5>
			<div class="line"></div>
			<p>{{ currentQuestion.text }}</p>
				<div class="card-category-btn">
					<div class="card-category">
						<ul>
							<li *ngIf="currentQuestion.java" class="card-text">Java</li>
							<li *ngIf="currentQuestion.salesforce" class="card-text">Salesforce</li>
							<li *ngIf="currentQuestion.frontend" class="card-text">Frontend</li>
						</ul>
					</div>
					<div class="card-buttons">
						<a href="#" class="btn btn-primary">Approve</a>
						<a href="#" class="btn btn-primary">Delete</a>
					</div>
			</div>
		</div>
	</div>
</div>

<div class="card offset-1 col-10">
	<div class="comment-body" *ngIf="isComments">
		<div class="comment-img-name">
			<img class="user-img" [src]="messageData.user.avatar || '../assets/img/profile-picture.png'" alt="Card image cap">
			<p class="card-date">{{ messageData.user.displayName }}</p>
		</div>
		<p class="comment-text">{{  messageData.message }}</p>
		<div class="comment-date">
			<p>{{ messageData.currentDate }}</p>
			<div class="checkbox-resolve">
				<input type="checkbox" id="resolve">
				<label for="resolve">resolve</label>
			</div>
		</div>
	</div>
</div>

<div class="answer offset-1 col-10">
	<div class="input-area">
		<form (ngSubmit)="onSubmit(newComment.value)" name="messageForm" [formGroup]="newComment">
			<textarea type="text" placeholder="Your message" name="message" id="message" formControlName="message" rows="5"></textarea>
			<button type="submit" class="btn btn-primary btn-answer">Post your answer</button>
		</form>
	</div>
</div>