.card {
	margin-top: 30px;
}

.line {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0,0,0,.1);
}

.card-author-date, .card-category-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h5 {
	text-align: center;
}

.card-category ul {
	display: inline-flex;
	list-style:none;
	padding: 0;
	margin: 0;
}

.card-category ul li {
	margin-right: 10px;
}

.btn-primary:nth-child(2) {
	margin-left: 20px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.answer {
	margin-top: 30px;
	padding: 0;
}

.btn-answer {
	margin: 20px 0 !important;
}

@media(max-width: 564px) {
 .card-category-btn {
	 flex-direction: column;
 }

 .btn-primary {
	margin-top: 20px;
	}
}