.card {
	margin-top: 30px;
}

.line {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0,0,0,.1);
}

.card-author-date {
	display: flex;
  flex-direction: column;
	text-align: right;
}

.card-category-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h5 {
	text-align: center;
}

.card-category ul {
	display: inline-flex;
	list-style:none;
	padding: 0;
	margin: 0;
}

.card-category ul li {
	margin-right: 10px;
}

.btn-primary:nth-child(2), .btn-primary:nth-child(3) {
	margin-left: 20px;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.answer {
	margin-top: 30px;
	padding: 0;
}

.btn-answer {
	margin: 20px 0 !important;
}

.comment-body {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
  padding: 0 1.25rem 0 1.25rem;
}

.comment-body p {
	justify-content: flex-start ;
}

.comment-img-name {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 10px;
}

.comment-text {
  align-self: flex-start;
  padding: 0 1.25rem;
}

.checkbox-resolve {
	display: inline-flex;
	width: 100%;
	align-items: center;
}

.comment-date label {
	margin: 0 0 0 5px;
}

.user-img {
	width: 2.4rem;
	border-radius: 5px;
}

@media(max-width: 564px) {
 .card-category-btn {
	 flex-direction: column;
 }

 .btn-primary {
	margin-top: 20px;
	}

	.comment-body {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.comment-img-name {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 10px;
	}

	.comment-date {
		display: inline-flex;
		width: 100%;
		justify-content: space-between;
		align-items: flex-start;
	}

	.checkbox-resolve {
		display: inline-flex;
		width: 100%;
		justify-content: flex-end;
		align-items: center;
	}
}

@media(max-width: 460px) {
  .card-date, .card-wrapper p, .card-text, .comment-text, .comment-date p, .checkbox-resolve label {
    font-size: 0.8rem;
  }

  .card-title {
    margin: 12px 0;
  }

  .card-buttons {
    display: inline-flex;
    justify-content: space-between;
  }

  .btn-primary {
    font-size: 0.8rem;
  }
}
