.filters {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.filters-hidden {
	display: none;
}

.btn-primary, .btn-secondary {
	background-color: #3da0af;
	border-color: #3da0af;
}

.dropdown-menu {
	padding: 10px;
}

.dropdown-menu p {
	padding-left: 1.5rem;
}

.row {
	justify-content: center;
	margin: 0;
}

.card {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-between;
	width: 18rem;
	margin: 20px;
}

.card-body {
	display: flex;
	flex-direction: column;
}

.card .card-body .card-wrapper {
	margin-top: auto;
}

.card-category-date {
	display: flex;
	justify-content: space-between;
}

.card-title {
	text-align: center;
}

.card-row {
	display: flex;
}

.card-row .card-body {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.card-row .card-body .card-wrapper {
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
}

.card .card-body .card-wrapper .hidden {
	display: none;
}

.card-row .card-body .card-wrapper .hidden {
	display: inline-flex;
	justify-content: space-between;
	margin: 0 30px;
}

.card-row .card-body .card-wrapper .visible {
	display: none;
}

.card-row .card-body .card-wrapper .card-buttons {
	margin: 0;
}

.card-row .card-body .card-wrapper .card-buttons .btn-primary {
	margin: 0 0 0 20px;
}

ul {
	margin-left: 20px;
	margin-bottom: 0;
	padding: 0;
}

.card-buttons {
	display: flex;
	justify-content: space-around;
	margin-top: auto;
}

.card-buttons a:nth-child(1) {
	margin: 15px 5px 0 0;
}

.card-buttons a:nth-child(2) {
	margin: 15px 0 0 5px;
}

.line {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0,0,0,.1);
}

@media(max-width: 576px) {
	.card-row {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		align-content: space-between;
		width: 18rem;
		margin: 20px;
	}
	
	.card-row .card-body {
		display: flex;
		flex-direction: column;
	}

	.card-row .card-body .card-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
	}

	.card-row .card-body .card-wrapper .hidden {
		display: none;
	}

	.card .card-body .card-wrapper .visible {
		display: flex;
	}
	
	.card-row .card-category-date {
		display: flex;
		justify-content: space-between;
	}
	
	.card-row .card-title {
		text-align: center;
	}
	
	.card-row .card-row {
		display: flex;
	}
}

@media(max-width: 414px) {
	.filters {
		display: none;
	}

	.filters-hidden {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 20px;
	}
}