<div class="filters">
	<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-filter"></i>
			Filters
		</button>
		<div class="dropdown-menu dropdown-menu-left">
			<button class="dropdown-item" type="button">Answered/Not answered</button>
			<button class="dropdown-item" type="button">Category</button>
			<button class="dropdown-item" type="button">Time</button>
		</div>
	</div>

	<div class="btn-group">
		<button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-sort-amount-down-alt"></i>
			<i class="fas fa-sort-amount-up"></i>
			Sort
		</button>
	</div>

	<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-cogs"></i>
			Settings
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<button class="dropdown-item" type="button" (click)="tiledRowToggle()">Tiled/Row</button>
			<hr>
			<p>Color theme</p>
			<input class="color-picker" class="colorTheme" 
				[(colorPicker)]="color" 
				[style.background]="color"
				[cpPosition]="'left'"
				[value]=color
			>
		</div>
	</div>
</div>

<div class="filters-hidden">
	<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-filter"></i>
		</button>
		<div class="dropdown-menu dropdown-menu-left">
			<button class="dropdown-item" type="button">Answered/Not answered</button>
			<button class="dropdown-item" type="button">Category</button>
			<button class="dropdown-item" type="button">Time</button>
		</div>
	</div>

	<div class="btn-group">
		<button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-sort-amount-down-alt"></i>
			<i class="fas fa-sort-amount-up"></i>
		</button>
	</div>

	<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-cogs"></i>
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<button class="dropdown-item" type="button">Tiled/Row</button>
			<button class="dropdown-item" type="button">Color theme</button>
		</div>
	</div>
</div>

<section class="questions" [style.background]="this.color">
	<div class="row">
		<div class="{{ tiledToggle }} card" [routerLink]="['/', question.payload.doc.data().title]" *ngFor="let question of questions | async">
			<div class="card-body">
				<h5 class="card-title">{{ question.payload.doc.data().title }}</h5>
				<div class="card-wrapper">
					<div class="line"></div>
					<div class="card-category-date">
						<p class="card-date hidden">{{ question.payload.doc.data().currentDate }}</p>
						<p class="card-text"><strong>Category:</strong></p>
						<p class="card-date visible">{{ question.payload.doc.data().currentDate }}</p>
					</div>
					<div class="card-category">
						<ul>
							<li *ngIf="question.payload.doc.data().java" class="card-text">Java</li>
							<li *ngIf="question.payload.doc.data().salesforce" class="card-text">Salesforce</li>
							<li *ngIf="question.payload.doc.data().frontend" class="card-text">Frontend</li>
						</ul>
					</div>
					<div class="line"></div>
					<div class="card-buttons">
						<a href="#" class="btn btn-primary">Approve</a>
						<a href="#" class="btn btn-primary">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>