<div class="filters">
	<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-filter"></i>
			Filters
		</button>
		<div class="dropdown-menu dropdown-menu-left">
			<button class="dropdown-item" type="button">Answered/Not answered</button>
			<button class="dropdown-item" type="button" (click)="filterQuestion()">Category</button>
			<button class="dropdown-item" type="button">Time</button>
		</div>
	</div>

	<div class="btn-group">
		<button type="button"
            class="btn btn-secondary"
            (click)="sortQuestion()"
    >
			<i class="fas fa-sort-amount-down-alt" *ngIf="isSort"></i>
			<i class="fas fa-sort-amount-up" *ngIf="!isSort"></i>
			Sort
		</button>
	</div>

	<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-cogs"></i>
			Settings
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<button class="dropdown-item"
              type="button"
              (click)="tiledRowToggle()"
      >Tiled/Row</button>
			<hr>
			<p>Color theme</p>
			<input class="color-picker" class="colorTheme"
				[(colorPicker)]="color"
				[style.background]="color"
				[cpPosition]="'left'"
				[value]=color
			>
		</div>
	</div>
</div>

<div class="filters-hidden">
	<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-filter"></i>
		</button>
		<div class="dropdown-menu dropdown-menu-left">
			<button class="dropdown-item" type="button">Answered/Not answered</button>
			<button class="dropdown-item" type="button" (click)="filterQuestion()">Category</button>
			<button class="dropdown-item" type="button">Time</button>
		</div>
	</div>

	<div class="btn-group">
		<button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-sort-amount-down-alt"></i>
			<i class="fas fa-sort-amount-up"></i>
		</button>
	</div>

	<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fas fa-cogs"></i>
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<button class="dropdown-item" type="button">Tiled/Row</button>
			<button class="dropdown-item" type="button">Color theme</button>
		</div>
	</div>
</div>

<section class="questions" [style.background]="this.color">
	<div class="row">
		<div class="{{ tiledToggle }} card"
				[routerLink]="['/', question.id]"
				*ngFor="let question of questionData | sortQuestions: isSort | filterCategory: isFiltered"
		>
			<div class="card-body">
				<h5 class="card-title">{{  question.title }}</h5>
				<div class="card-wrapper">
					<div class="line"></div>
					<div class="card-category-date">
						<p class="card-date hidden">{{ question.currentDate | date:"MMM d, y, h:mm a" }}</p>
						<p class="card-text"><strong>Category:</strong></p>
						<p class="card-date visible">{{ question.currentDate | date:"MMM d, y, h:mm a" }}</p>
					</div>
					<div class="card-category">
						<ul>
							<li *ngFor="let technology of question.categories" class="card-text">{{ technology }}</li>
						</ul>
					</div>
					<div class="line"></div>
					<div class="card-buttons">
						<button class="btn btn-primary">Approve</button>
						<button class="btn btn-primary" (click)="deleteQuestion()">Delete</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="btn btn-primary plus" data-toggle="modal" data-target="#exampleModal">
		<i class="fas fa-plus"></i>
	</button>
</section>
