<div class="filters">
	<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Filters
		</button>
		<div class="dropdown-menu dropdown-menu-left">
			<button class="dropdown-item" type="button">Answered/Not answered</button>
			<button class="dropdown-item" type="button">Category</button>
			<button class="dropdown-item" type="button">Time</button>
		</div>
	</div>

	<div class="btn-group">
		<button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Sort
		</button>
	</div>

	<div class="btn-group">
		<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Settings
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<button class="dropdown-item" type="button">Tiled/Row</button>
			<button class="dropdown-item" type="button">Color theme</button>
		</div>
	</div>
</div>

<section class="questions">
	<div class="card">
		<img class="card-img-top" src="../../../assets/img/dev-incubator-logo.png" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<div class="card">
		<img class="card-img-top" src="../../../assets/img/dev-incubator-logo.png" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<div class="card">
		<img class="card-img-top" src="../../../assets/img/dev-incubator-logo.png" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
</section>
<section>
	<!-- <li *ngFor="let user of users | async">
		{{ user }}
	</li> -->
</section>

<div></div>
